<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestingAppAndroid2"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service 1: Weak password protected keystore with public keys (M1: Improper Credential Usage) -->
        <service
            android:name=".services.WeakPasswordPublicKeysService"
            android:enabled="true"
            android:exported="true" />

        <!-- Service 2: File-based key storage readable by other apps (M9: Insecure Data Storage) -->
        <service
            android:name=".services.InsecureFileStorageService"
            android:enabled="true"
            android:exported="true" />

        <!-- Service 3: Private keys protected with weak password (M1: Improper Credential Usage) -->
        <service
            android:name=".services.WeakPasswordPrivateKeysService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
